<style>
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.overlay {
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
}
#video-container {
    position: relative;
  }

  #video {
    width: 100%;
    height: auto;
  }
  #navbar .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin: auto;
}
#navbar .nav-items{
    display: flex;
    justify-content: center;
    padding: 0px;
}
#navbar .logo{
    display: flex;
    justify-content: center;
}
#navbar ul li{
    padding: 5px 15px;
    display: block;
}
.hide{
    display: none;
}
#navbar{
    margin-top: 25px;
}
#navbar .container{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    padding: 15px;
}
#navbar ul li a{
    color: #ffffff;
}
#navbar ul li a:hover{
    border-bottom: solid 2px darkorange;
}
.logo{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.logo img{
    width: 30px;
    padding-left: 5px;
}




</style>