<style>
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.overlay {
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);

    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
}
#video-container {
    position: relative;
  }

  #video {
    width: 100%;
    height: auto;
  }

  #nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  #nav .nav-link:hover {
    position: relative;
  }

  #nav .nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
  

</style>