body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 80%;
}

#nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0); /* Adjust the background color as needed */
}

#nav .nav-item {
    margin-right: 20px;
}

#nav .nav-link {
    color: white;
    font-size: 18px; /* Adjust the font size as needed */
    text-decoration: none;
}

#nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}
